.post-date {
	display: inline !important;
}

.post-author {
	color: #268bd2;
}

.post-info {
	margin-bottom: .5em;
}

pre {
	border: 1px dotted #839496;
}

.highlight .lineno {
	color: #ccc;
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #ccc;
}

.highlight pre code {
	overflow-x: auto;
}
