.post-date {
	display: inline !important;
}

.post-author {
	color: #268bd2;
}

.post-info {
	margin-bottom: .5em;
}

pre {
	border: 1px solid #b3c1c1;
}

.highlight .lineno {
	color: #93a1a1;
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #b3c1c1;
}

.highlight pre code {
	overflow-x: auto;
}

.sidebar-nav-date {
	display: block;
	text-align: center;
	color: #aadff5;
	background-color: #6a9fb5;
	padding: .25em !important;
}

.sidebar-nav-author {
	color: #99f;
}

#sidebar-hdr {
	text-align: center;
	background-color: #fff;
	padding: 1em;
	width: 100%;
}

.sidebar {
	border-left: 2px solid #6a9fb5;
}

.sidebar-nav-item {
	background-color: #fff !important;
}

.sidebar-nav-item:hover {
	background-color: #aadff5 !important;
}

a.sidebar-nav-item {
	color: #5a8fa5 !important;
}

.sidebar img {
	margin: .8em !important;
}

pre {
	overflow-x: auto !important;
	word-wrap: initial !important;
	word-break: normal !important;
}
