.post-date {
	display: inline !important;
}

.post-author {
	color: #268bd2;
}

.post-info {
	margin-bottom: .5em;
}

pre {
	border: 1px solid #b3c1c1;
}

.highlight .lineno {
	color: #93a1a1;
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #b3c1c1;
}

.highlight pre code {
	overflow-x: auto;
}

.sidebar-nav-date {
	display: block;
	text-align: center;
	background-color: #5a8fa5;
	padding: .25em;
}

.sidebar-nav-author {
	color: #99f;
}

#sidebar-hdr {
	text-align: center;
	background-color: #fff;
	padding: 1em;
}
