<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p><a href='http://psc.edu/'><img style='background-color: #fff;
		  padding: .8em;
			border: 1px solid #369' width='180'
			src='{{ site.baseurl }}/public/psc.svg' alt='PSC' /></a></p>
  </div>

  <nav class="sidebar-nav">

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign posts_list = site.posts | sort:"url" | reverse %}
    {% for node in posts_list %}
      {% if node.title != null %}
				{% capture turl %}{{ site.baseurl }}{{ node.url }}{% endcapture %}
				{{ node.date }}
				{% if node.layout == "post" %}
					<a class="sidebar-nav-item{% if page.url == turl %} active{% endif %}"
						href="{{ turl }}">{{ node.title }} {{ node.author }}</a>
				{% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
