<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{site_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/s/css/commons.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">



    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>

    <script type="text/javascript" src="/s/js/commons.js"></script>
    <script type="text/javascript" src="/s/js/sidebar.js"></script>
  </head>
  <body>
    
    <div id="header" class="navbar navbar-default navbar-fixed-top">
      <div class="col-md-4">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="icon-reorder"></i>
          </button>
          <a class="navbar-brand" href="#">
            {{nav_title}}
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
          <li class="active">
            <a href="#tset" data-toggle="tab">Tests</a>
          </li>
          <li>
            <a href="#build" data-toggle="tab">Build Report</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="wrapper">
      <div id="sidebar-wrapper" class="col-md-2">
        <div id="sidebar"></div>
      </div>
      <div id="main-wrapper" class="col-md-10 pull-right">
        <div id="main">
          <div class="row">
            <br/>
            <div class="col-md-6">
              Active Test Set: <a href="/{{active_tsid}}">#{{active_tsid}}</a>
            </div>
            <div class="col-md-6">
            </div>
          </div>
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>

  <!-- Templates -->
  <script type="text/template" id="sidebar_template">
    <ul class="nav list-group">
      <%
        _.each(items, function(tset,key,list){
      %>
        <li>
          <a href="/<%- tset.tsid %>" class="list-group-item">
            <i class = "fa fa-fw <% if(tset.failed == 0) { %> fa-tasks <% } else { %> fa-warning <% } %>"></i>
            <%- tset.tset_name %>
            <span class="pull-right small">
              <% if(tset.failed_tests > 0) { %>
                <em class="text-danger">Failed: <%= tset.failed_tests %></em>
              <% } %>
                <%= tset.total_time.toFixed(3) %>s 
            </span>
          </a>
        </li>
      <% }); %>
    </ul>
  </script>
</html>
