{% extends "base.html" %}

{% block content %}

  <div id="active_tsid" tsid="{{active_tsid}}"></div>
  <script type="text/javascript" src="/s/js/summary.js"></script>
  
  <script type="text/template" id="change_table_template">
    <table class="table table-bordered table-striped table-responsive nopadding">
      <thead>
        <tr>
          <th>Test Name</th>
          <th>Δ Results</th>
        </tr>
      </thead>
      <tbody>
        <%
          _.each(items, function(item,key,list) {
            var passed = item.passed; var total = item.passed + item.failed; 
            var test_state = passed === total ? "label-success" : "label-danger";

            var change_state = "default";
            if(Math.abs(item.change_percent) >= 10.0) {
              change_state = item.change_percent <= 0 ? "text-success" : "text-danger";
            }
            
        %>
          <tr>
            <td>
              <h5>
                <a href="<%- get_active_tsid() %>/<%- key %>" class="tree_link nounderline"><%- key %></a>
                <span class="pull-right label <%- test_state %>"><%- item.passed %>/<%- item.passed + item.failed %></span>
              </h5>
            </td>
            <td class="center">
              <h5>
                <span class="pull-left <%- change_state %>">
                  <%- exists(item.change_percent) ? item.change_percent.toFixed(2) + "%" : "N/A" %>    

                </span>
                <span class="pull-right">
                  <%- item.average.toFixed(2) %>s
                  <a class="nounderline" href="/<%- item.change_tsid %>"><%- exists(item.change_tsid) ? "#"+item.change_tsid : "N/A"%></a>
                </span>
              </h5>
            </td>
          </tr>
        <%
          });
        %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="client_blob_template">
    <%
      _.each(items, function(client, key, list) {
    %>
      <div class="col-md-3">
        <div class="well">
          <p class="text-center text-primary"><%- client.name %></p>
            <%
              _.each(client.tests, function(test, key, list) {
                console.log(test);
            %>
                <% if(!test.pass) { %>
                  <p class="text-warning">
                    <%- test.name %>
                    
                    <i class="fa fa-warning pull-right">
                      <%- test.retcode %>
                    </i>

                  </p>
                <% } else { %>
                  <p class="text-success">
                    <%- test.name %>
                  </p>
                <% } %>
            <%
              });
            %>
        </div>
      </div>
    <%
      });
    %>
  </script>

  <div class="tab-content">
    <div class="tab-pane active" id="tset">
      <div class="well">
        <div class="row">
          <div class="col-md-4">
            <div class="table-responsive" id="change_table"></div>
          </div>
          <div class="col-md-8">
            <!--<div id="active_treemap"></div>-->
            <div id="client_blob"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="build">
      ....
    </div>
  </div>

{% endblock %}
